@model ShootShot.Models.tMember
@{
    ViewBag.Title = "UpdatePassword";
}
<head>
    <link rel="stylesheet" href="~/Content/css/member.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <link href="~/Content/css/memberPass.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<div class="divnavbar"></div>
<article id="memberPass_artForbtn" name="memberPass_artForbtn" class="member_artForbtn">
    <div class="leftbutton">

        <button class="pageone" id="memberPass_btnMInfo" name="memberPass_btnMInfo">
            <a href="~/MemberCenter/EditProfile" id="memberPass_btnPjtManage" name="memberPass_btnPjtManage">會員基本資料</a>
        </button>
        <button class="pagetwo" name="memberPass_btnPass">
            <a href="~/MemberCenter/UpdatePasseord" id="memberPass_alinkPOpen" name="memberPass_alinkPOpen">會員密碼修改</a>
        </button>
        <button id="memberPass_btnPjtManage" name="memberPass_btnPjtManage">
            <a href="./prjMgmt.html">專案管理</a>
        </button>

        <button id="memberPass_btnPOpen" name="memberPass_btnPOpen">
            <a href="./phoVerif.html" id="memberPass_alinkPOpen" name="memberPass_alinkPOpen">攝影師</a>
        </button>

        <button id="memberPass_btnBackIndex" name="memberPass_btnBackIndex">
            <a href="./index.html">回首頁</a>
        </button>
    </div>

</article>

<!-- #article 右側欄內容：會員資料更新區塊 -->
<article class="memberPass_artForform">
    <div id="memberPass_divForForm" name="memberPass_divForForm" class="memberPass_divForForm">
        <form action="~/MemberCenter/UpdatePassword" method="post">
            <!-- 密碼修改 -->
            <div id="memberPass_divForpass" name="memberPass_divForpass" class="memberPass_divForpass">
                <p class="passqord">修改密碼</p>

                <div id="memberPass_divForOld" name="memberPass_divForOld" class="memberPass_divForOld">
                    <label for="">請輸入舊密碼 </label>
                    <input class="password" type="password" name="oldPassword" id="memberPass_passOld" required />
                </div>

                <div id="memberPass_divForNew" name="memberPass_divForNew" class="memberPass_divForNew">
                    <label for="">請輸入新密碼 </label>
                    <input class="password" type="password" name="newPassword" id="memberPass_passNew" required />

                </div>
                <div id="memberPass_divForNew2" name="memberPass_divForNew2" class="memberPass_divForNew2">
                    <label for="">確認新密碼 </label>
                    <input class="password" type="password" name="confirmPassword" id="memberPass_passNew2" required />
                </div>
                <span style="color:red;font-size:0.6rem">@ViewBag.msg</span>
                <br>
            </div>
            <br>
            <div id="memberPass_divForSubm" name="memberPass_divForSubm" class="memberPass_divForSubm">
                <img id="memberPass_imgSubm" name="memberPass_imgSubm" class="memberPass_imgSubm" src="~/Content/img/arrows.svg" alt="">
                <input id="memberPass_subm" name="memberPass_subm" class="memberPass_subm" type="submit" value="密碼修改">
            </div>
        </form>
    </div>

</article>


