
@{
	ViewBag.Title = "IdxProject";
}

<html>
<body>

	<!-- #region 妳的html -->
	<main>
		<!-- 形象圖片start -->
		<section class="cProject_sec1">
			<div>
				<img src="~/Content/images/預約專案形象圖.png" />
			</div>
			<div class="filter">

			</div>
			<a href="#cProject_lblForalink1">@Html.ActionLink(">>建立您的專案", "Login", "Home")</a>
		</section>
		<!-- 形象圖片End -->
		<!-- 表單區域start -->


	</main>



	<!-- endregion -->
	<!-- #region backToUp請勿更改 -->
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<!-- $endregion -->
	<!-- #region js請勿更改 -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="lib/isotope/isotope.pkgd.min.js"></script>
	<script src="lib/lightbox/js/lightbox.min.js"></script>
	<script src="mail/jqBootstrapValidation.min.js"></script>
	<script src="mail/contact.js"></script>
	<script src="js/main.js"></script>
	<!-- #endregion -->
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

</body>
</html>