
@{
    ViewBag.Title = "Create";
}

<head>
    <link rel="stylesheet" href="~/Content/css/addAlbum.css" />
</head>
<body>
    <div class="container">
        <div class="title">
            <h6>新增相簿</h6>
            <a href="" id="closeAConsole"><img src="./images/cancel.svg" alt=""></a>
        </div>
        <div class="addAlbum">
            <form action="" method="post">
                <div>
                    <input type="text" name="fName" id="fName" placeholder="未命名相簿">
                </div>
                <div>
                    <input type="submit" value="新增">
                    <input type="button" value="取消" for="closeAConsole">
                </div>
            </form>
        </div>
    </div>
</body>

