
@{
    ViewBag.Title = "ActivateSucessfull";
}

<div style="height:250px"></div>
<h2 style="text-align:center">開通成功!!</h2>
<div style="text-align:center;margin:20px auto"><a style="color:#663399" href="~/Home/Index">回首頁</a></div>
<div style="height:250px"></div>
