body {
    color: #242424;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
  }
  
  /* navbar空白div */
  .divnavbar {
    background-color: white;
    width: 100%;
    height: 60px;
  }
  
  /* *********************** */
  /* *********************** */
  /* article 左側欄按鈕區塊css */
  /* *********************** */
  /* *********************** */
  
  
  article div.leftbutton {
    width: 410px;
    padding: 45px 0px;
    position: fixed;
  }
  
  article button.pageone {
    background-color: #7dffd1;
  }

  article button {
    border: solid 1px #7dffd1;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 22px 80px;
    color: #242424;
  }
  
  article button:hover {
    background-color: #7dffd1;
  }
  
  article button a {
    padding: 10px 40px;
    text-decoration: none;
    color: #242424;
    font-size: 12px;
  }

  /* 開通攝影師功能按鈕start */
  article button.photographer{
    border: solid 1px #c4c4c4;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    background-color: white;
    margin: 5px 125px;
    color: #242424;
  }

  article button.photographer:hover {
    background-color:#c4c4c4;
  }

  article button.pagetwo {
    background-color: #c4c4c4;
  }
   /* 開通攝影師功能按鈕 end */
  
  @media screen and (max-width: 990px) {
   
  .divnavbar {
      background-color: white;
      width: 100%;
      height: 0px;
    }
    
  article div.leftbutton {
    width: 300px;
    padding: 35px 0px;
    position: fixed;
    
  }
  
  article button.pageone {
    background-color: #7dffd1;
  }
  
  article button {
    border: solid 1px #7dffd1;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    background-color: white;
    margin: 10px 10px;
    color: #242424;
  }
  
  article button:hover {
    background-color: #7dffd1;
  }
  
  article button a {
    padding: 10px 40px;
    text-decoration: none;
    color: #242424;
    font-size: 12px;
  }
  }
  @media screen and (max-width:770px) {
    
  .divnavbar {
    background-color: white;
    width: 100%;
    height: 0px;
  }
  
  article div.leftbutton {
  width: 100%;
  height: 120px;
  padding: 10px;
  position: relative;
  background-color: #d4d4d4;
  
  }
  
  article button.pageone {
  background-color: #7dffd1;
  }
  
  article button {
  border: none;
  border-radius: 30px;
  width: 178px;
  height: 40px;
  background-color: white;
  margin: 5px ;
  color: #242424;
  float: left;
  }
  
  article button:hover {
  background-color: #7dffd1;
  }
  
  article button a {
  padding: 10px 40px;
  text-decoration: none;
  color: #242424;
  font-size: 12px;
  }
  }
  
  /* ************************************ */
/* ************************************ */
/* article 右側文章區塊：專案管理css */
/* ************************************ */
/* ************************************ */

article.phoAlbum_artForAlbum {
    /* border: solid black; */
    width: 948px;
    height: 1200px;
    position: relative;
    left: 400px;
    padding: 20px 0px;
    margin-top: 20px;
    background-color:#c4c4c4;
  }


  /* ******************************* */
  /* article 右側文章區塊：相簿卡片css */
  /* ******************************* */
 

  /* ****************************** */
  /* article 右側欄內容：相簿按鈕區塊 */
  article div.phoAlbum_divForbtnAlbum{
    position: relative;
    left: 0px;
    margin-top: 25px;
  }

  article div.phoAlbum_divForbtnAlbum button{
    background-color: #242424;
    border: 0px;
    color: #ffffff;
    width: 120px;
    height: 35px;
    font-size: 12px;
    margin: 0px;
    margin-left: 20px;
  }

  article div.phoAlbum_divForbtnAlbum button.white{
    background-color: #ffffff;
    border: 0px;
    color: #242424;
    width: 60px;
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
  }

  
  /* article 右側欄內容：卡片區塊slide */
 
article div.carousel-inner{
  
  width: 920px;
  height: 280px;
  padding: 10px 10px;
}

article div.card-body{
  padding: 5px 15px;
  
}

  article div.card{
    float: left;
    margin: 8px ;
    width: 17rem;
    height: 240px;
    background-color: #242424;
  }

article div.card a{
  padding: 0px 10px;
  border: none;
}

article div.card a:hover{
  background-color:#7dffd1;  
  
}

  
  article div.slide{
    width: 920px;
    left: 20px;
    
  }
  
  article img.card-img-top{
    margin: 0px auto;
    margin-top: 8px;
    margin-bottom: 0px;
    width: 250px;
    height:180px;
    object-fit:cover;
  }

  article img.noalbum{
    margin: 44px 74px;
    width: 100px;
    height:100px;
    object-fit:cover;
  }

  article div p.card-title{
    font-size: 16px;
    margin-bottom: 0rem;
    color: #ffffff;
  }
  
  article div p.card-text{
    font-size: 12px;
    color: #d4d4d4;
  }
  
  /* article 右側欄內容：卡片區塊arrow */
 
  article button.carousel-control-next{
    width: 0px;
    height: 0px;
    border: none;   
    background-color: #c4c4c4;
    margin: 0px 15px;
  }
  
  article button.carousel-control-next img{
    width: 30px;
    height: 30px;
    margin-top: 360px;
    
  }
    
   /* ******************************* */
  /* article 右側文章區塊：相片區塊css */
  /* ******************************* */
  article.phoAlbum_artForPhoto {
    border: solid black;
    
  }

   /* ****************************** */
  /* article 右側欄內容：相簿按鈕區塊 */
  article div.phoAlbum_divForbtnPhoto{
    position: relative;
    left: 20px;
    margin-top: 25px;
    float: left;
  }

  article div.phoAlbum_divForbtnPhoto button{
    background-color: #242424;
    border: 0px;
    color: #ffffff;
    width: 120px;
    height: 35px;
    font-size: 12px;
    margin: 0px;
    margin-left: 20px;
    float: left;
  }

  article div.phoAlbum_divForbtnPhoto button.cover{
    background-color: #ffffff;
    border: 0px;
    color: #242424;
    width: 120px;
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
    float: left;

  }

  article div.phoAlbum_divForbtnPhoto button.white{
    background-color: #ffffff;
    border: 0px;
    color: #242424;
    width: 60px;
    height: 35px;
    font-size: 12px;
    margin-left: 20px;
    float: left;

  }

  article div.phoAlbum_artForPhoto h1{
    margin-left: 800px;
    margin-top: 40px;
    color: #ffffff;
    
  }
  article div.phoAlbum_divForPhoto{
   padding: 10px 30px;
  }

  article div.phoAlbum_divForPhoto div.col{
    width: 150px;
    margin: 12px;
    flex-grow: 0;
  }

  article div.phoAlbum_divForPhoto img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
  }
