/* body */

.body {
    margin: 0;
    padding: 0;
}


/* PGinfo tool */

.PGinfo_tool_container {
    display: flex;
    flex-direction: column;
}

.PGinfo_prespage {
    margin-bottom: 50px;
    margin-left: 15px;
}

.PGinfo_prespage img {
    width: 20px;
    height: 20px;
}

.btn_prespage {
    border: none;
}


/* UserInfo */

.PGinfo_container {
    max-width: 1920px;
    ;
}

.row {
    margin-right: 50px;
}


/* username */

.PGinfo_user_container {
    margin: 50px 100px 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PGinfo_user_info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.PGinfo_user_img img {
    border-radius: 60px;
    width: 90px;
    height: 90px;
    border: 5px solid #7dffd1;
}

.PGinfo_username_container {
    width: 100%;
    height: 100px;
    margin-left: 30px;
}

.PGinfo_username_line1 {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.PGinfo_username {
    margin-right: 20px;
    font-family: devioussans02extrabold, Helvetica Neue, Helvetica, Arial, メイリオ\, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: .3px;
    max-width: 400px;
    overflow-wrap: break-word;
    color: #242424;
}

.PGinfo_follower {
    font-size: 18px;
    color: #242424;
}

.PGinfo_username_line2 {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.PGinfo_username_line2 img {
    width: 22px;
    height: 22px;
}

.PGinfo_follow {
    margin-left: 20px;
}

.btn_follow {
    padding: 6px;
    width: 60px;
    height: 30px;
    margin-left: 10px;
    font-size: 10px;
    color: #7DFFD1;
    letter-spacing: 3px;
}

.PGinfo_username_line3 {
    margin-bottom: 5px;
}


/* userdetail */

.PGinfo_userdetail_container {
    margin: 16px 100px 25px;
}

.PGinfo_userdetail_line1 {
    margin-bottom: 10px;
    width: 100%;
}

.PGinfo_userdetail-title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_userdetail_line2 {
    width: 800px;
}


/* userstyle */

.PGinfo_userstyle_container {
    margin: 16px 100px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PGinfo_userstyle {
    position: relative;
    width: 100%;
}

.PGinfo_userstyle_line1 {
    margin-bottom: 10px;
    width: 100%;
}

.PGinfo_userstyle_title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_userstyle_line2 {
    width: 100%;
}


/* workshop */

.PGinfo_workshop_container {
    margin: 16px 100px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PGinfo_workshop {
    position: relative;
    width: 100%;
}

.PGinfo_workshop_line1 {
    margin-bottom: 10px;
    width: 100%;
}

.PGinfo_workshop_title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_workshop_line2 img {
    width: 20px;
    height: 20px;
}

.PGinfo_workshop_location {
    font-size: 15px;
}


/* cudworklocation */

.PGinfo_workableplace_container {
    margin: 16px 100px 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PGinfo_workableplace {
    position: relative;
    width: 100%;
}

.PGinfo_workableplace_line1 {
    margin-bottom: 10px;
    width: 100%;
}

.PGinfo_workableplace_title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_workableplace_line2 {
    width: 100%;
}


/* album */

.PGinfo_album_container {
    margin-left: 50px;
}

.PGinfo_album_title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_album_row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    /* background-color: #7dffd1; */
}

.PGinfo_album_col {
    width: 320px;
    height: 100%px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 30px 20px 10px 0px
}

.PGinfo_album_img img {
    width: 280px;
    height: 160px;
    padding: 5px;
    object-fit: cover;
    margin-top: 10px;
}

.PGinfo_album_details {
    width: 275px;
    margin-top: 10px;
    justify-content: flex-start;
}

.PGinfo_album_details p {
    line-height: 10px;
    color: #7dffd1;
}


/* photowork */

.PGinfo_photowork_container {
    margin: 30px 0 32px 50px;
    align-items: flex-start;
}

.PGinfo_photowork_title {
    font-size: 20px;
    font-weight: 600;
}

.PGinfo_photowork_row {
    width: 100%;
    margin: 0 50px 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.PGinfo_photowork_card {
    margin-top: 5px;
    width: 230px;
    background-color: #242424;
}

.PGinfo_photowork_card img {
    position: relative;
    width: 230px;
    height: 150px;
    object-fit: cover;
}

.PGinfo_photowork_card_scale {
    transition: all 0.5s;
}

.PGinfo_photowork_card_scale :hover {
    transform: scale(1.1);
}


/* bcgphoto */

.bcgphoto {
    width: 225px;
    height: auto;
}