<div class="prjMgmt_divForChat">
<input type="hidden" value="@TempData["PEnail"]"/>
<p>與攝影師聊聊</p>
<div class="prjMgmt_divForText">
	<img src="~/Content/images/login_pic.svg" alt="">
	<textarea class="chattext" name="chattext" id="chattext" cols="80" rows="2"
			  aria-valuemax="150">聊聊吧...</textarea>
	<br>
	<input type="submit" value="發送">
</div>
</div>
<br>
<br>

<div class="prjMgmt_divForChat">
	<img class="chat" src="~/Content/images/chat 1.svg" alt="">
	<div class="prjMgmt_divForMes">
		<img src="~/Content/images/login_pic.svg" alt="">
		<p class="memberMes">攝影師你好,因為氣象預報週六天氣可能會下雨,請問可以直接改期嗎?</p>
		<p class="mesTime">2021/06/09 13:54:40</p>

	</div>
</div>
