
@{
    ViewBag.Title = "UpdatePasswordSucessfull";
}
<div style="height:250px"></div>
<h2 style="text-align:center">密碼更新成功，請重新登入</h2>
<div style="text-align:center;margin:20px auto"><a style="color:#663399" href="~/LoginAndSignup/Login">重新登入</a></div>
<div style="height:250px"></div>

