
@{
    ViewBag.Title = "SignupSucessfull";
}

<div style="height:250px"></div>
<h2 style="text-align:center">註冊成功!!</h2>
<div style="text-align:center;margin:20px auto"><a style="color:#663399" href="~/LoginAndSignup/Login">登入</a></div>
<div style="height:250px"></div>


