body {
  color: #242424;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

/* navbar空白div */
.divnavbar {
  background-color: white;
  width: 100%;
  height: 100px;
}

/* *********************** */
/* *********************** */
/* article 左側欄按鈕區塊css */
/* *********************** */
/* *********************** */

article div.leftbutton {
  width: 410px;
  padding: 20px 0px;
  position: fixed;
  
}

article button.pageone {
  background-color: #7dffd1;
}

article button {
  border: solid 1px #7dffd1;
  border-radius: 30px;
  width: 250px;
  height: 40px;
  background-color: white;
  margin: 22px 80px;
  color: #242424;
}

article button:hover {
  background-color: #7dffd1;
}

article button a {
  padding: 10px 40px;
  text-decoration: none;
  color: #242424;
  font-size: 12px;
}

@media screen and (max-width: 990px) {
 
.divnavbar {
    background-color: white;
    width: 100%;
    height: 0px;
  }
  
article div.leftbutton {
  width: 300px;
  padding: 10px;
  position: fixed;
  
}

article button.pageone {
  background-color: #7dffd1;
}

article button {
  border: solid 1px #7dffd1;
  border-radius: 30px;
  width: 250px;
  height: 40px;
  background-color: white;
  margin: 10px 10px;
  color: #242424;
}

article button:hover {
  background-color: #7dffd1;
}

article button a {
  padding: 10px 40px;
  text-decoration: none;
  color: #242424;
  font-size: 12px;
}
}
@media screen and (max-width:770px) {
  
.divnavbar {
  background-color: white;
  width: 100%;
  height: 0px;
}

article div.leftbutton {
width: 100%;
height: 120px;
padding: 10px;
position: relative;
background-color: #d4d4d4;

}

article button.pageone {
background-color: #7dffd1;
}

article button {
border: none;
border-radius: 30px;
width: 178px;
height: 40px;
background-color: white;
margin: 5px ;
color: #242424;
float: left;
}

article button:hover {
background-color: #7dffd1;
}

article button a {
padding: 10px 40px;
text-decoration: none;
color: #242424;
font-size: 12px;
}
}

/* ************************************ */
/* ************************************ */
/* article 右側文章區塊：專案管理css */
/* ************************************ */
/* ************************************ */

article div.editmemberform {
  /* border: solid black; */
  width: 900px;
  height: 600px;
  position: relative;
  left: 410px;
  padding: 20px 0px;
}

/* ************************************ */
/* article 右側文章區塊：專案卡片css */
/* ************************************ */
article div.card{
  float: left;
  margin: 20px ;
  width: 145px;
  height: 420px;
  border-radius: 20px;
}

article div.slide{
  width: 1000px;
  left: 350px;
}

article a.btn {
  border-radius: 20px;
  margin: 0px auto;
}

article img.card-img-top{
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 20px;
  width:240px;
height:240px;
object-fit:cover;
}

article p.card-text{
  font-size: 12px;
}

article button.carousel-control-prev{
  width: 30px;  
}

article button.carousel-control-prev img{
  width: 30px;
  height: 30px;
}

article button.carousel-control-next{
  width: 30px;   
}

article button.carousel-control-next img{
  width: 30px;
  height: 30px;
}


/* ************************************ */
/* article 右側文章區塊：專案內容css */
/* ************************************ */
article div.prjMain{
  position: relative;
  left: 370px;
  width: 900px;
}

article div.project {
  height: 1000px;
  background-color: white;
}

article div p.time {
  text-align: right;
}

article div.picture img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* ************************************ */
/* article 右側文章區塊：留言板css */
/* ************************************ */
article div.chat {
  margin: 0px auto;
  position: relative;
  left: 260px;
  width: 900px;
}

article div textarea.chattext {
  border-style: none;
}
