* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', Arial, Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #242424;
    -webkit-box-shadow: 3px 3px 5px 1px #c4c4c4;
    box-shadow: 3px 3px 5px 1px #c4c4c4;
}

header div.logotext {
    margin-left: 1rem;
    -webkit-box-flex: 9;
    -ms-flex: 9 1 400px;
    flex: 9 1 400px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
}

header nav {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 400px;
    flex: 2 1 400px;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.04rem;
}

header nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.3rem;
}

header nav ul li a img {
    width: 4vw;
    height: 4vw;
}

.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.left {
    background-image: url(../images/L.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.right {
    background-color: azure;
    width: 100%;
    height: 100vh;
}

.joinT {
    padding-left: 30px;
    padding-top: 70px;
}

.formstyle {
    border: solid 1px;
    border-radius: 20px;
    
    margin-top: 20px;
    font-size: 20px;
    width: 300px;
    height: 35px;
    position: relative;
    left: 30px;
    top: 30px;
    bottom: 30px;
}

.chkbox {
    font-size: 20px;
    position: relative;
    top: 30px;
    left: 50px
}

.show {
    font-size: 20px;
    position: relative;
    top: 30px;
    left: 50px;
}

.cfm {
    font-size: 20px;
    width: 300px;
    height: 35px;
    position: relative;
    top: 28px;
    left: 50px;
}

.msg {
    position: relative;
    top: 30px;
    left: 50px;
}

.btn {
    margin-top: 20px;
    background-color: #242424;
    border: none;
    border-radius: 30px;
    font-size: 2.5rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    position: relative;
    left: 30px;
    top: 30px;
    bottom: 30px;
}

.FFF {
    color: #ffff;
    text-decoration: none;
}

.p1 {
    position: relative;
    top: 50px;
    left: 30px;
}

.a1 {
    color: blue;
}

.p2 {
    position: relative;
    top: 40px;
    font-size: 5px;
}

.p3 {
    font-size: 40px;
    position: relative;
    top: 30px;
    text-align: center;
}

.col {

    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.a2 {
    position: relative;
    left: 70%;
    top: 50px;
    color: blue;
}

.p4 {
    position: relative;
    left: 40%;
    top: 50px;
}

.p5 {
    text-align: center;
    padding-top: 5px;
}
.simg{
    width: 3rem;
    position: relative;
    top: 30px;
}

